<layout-sidebar #layout>

    <shared-sidebar-toolbar sidebar-toolbar></shared-sidebar-toolbar>

    <shared-sidebar-menu sidebar-menu></shared-sidebar-menu>

    <shared-sidebar-tabs sidebar-tabs></shared-sidebar-tabs>

    <toolbar toolbar title="Dashboard" (sidenavToggle)="layout.sidenavToggle()">
        <shared-toolbar-icons [layout]="layout"></shared-toolbar-icons>
    </toolbar>

    <shared-bottom-toolbar bottom-toolbar [layout]="layout"></shared-bottom-toolbar>

    <router-outlet></router-outlet>
    
</layout-sidebar>