mat-sidenav-container {
    height: 100vh;
    mat-sidenav {
        width: 264px;
    }
    mat-sidenav-content {
    }
}

mat-toolbar[header] {
    mat-toolbar-row {
        display: flex;
        justify-content: space-between;
        .spacer { flex-grow: 1; }
        > :first-child { 
            margin-left: -8px; 
            margin-right: 8px; 
        }
        > :last-child { margin-right: -8px; }
    }
}

mat-toolbar[footer] {
    mat-toolbar-row {
        display: flex;
        margin: auto -8px;
        .spacer { flex-grow: 1; }
        > * {
            margin: 0 8px;
        }
    }
}

mat-nav-list.sidebar-menu {
    mat-list-item {
        a {
            display: flex;
            align-items: flex-end;
            mat-icon { margin-right: 16px; }
        }
    }
}

mat-list.sidebar-tabs {
    display: flex;
    mat-list-item {
    }
}