@import "flex-grid.scss";
@import "sidebar-tabs.scss";
@import "scrollbar.scss";

* {
    box-sizing: border-box;
}

mat-dialog-container.mat-dialog-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
@media ($xsmall) {
    mat-dialog-container.mat-dialog-container {
        max-width: 100vw;
        max-height: 100vh;
        border-radius: 0;
    }
}
