<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" opened>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button aria-hidden="false" aria-label="Company logo">
          <mat-icon>business</mat-icon>
        </button>
        <span>{{ company }}</span>
        <button mat-icon-button aria-hidden="false" aria-label="Switch to other domains">
          <mat-icon>apps</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list class="sidebar-menu">
      <mat-list-item><a button href="#">
          <mat-icon>dashboard</mat-icon> Dashboard
        </a></mat-list-item>
      <mat-list-item><a button href="#">
          <mat-icon>business</mat-icon> Tenants
        </a></mat-list-item>
      <mat-list-item><a button href="#">
          <mat-icon>apps</mat-icon> Services
        </a></mat-list-item>
    </mat-nav-list>

    <mat-list class="sidebar-tabs">
      <mat-list-item><button mat-icon-button aria-hidden="false" aria-label="Show help">
          <mat-icon>help_outline</mat-icon>
        </button></mat-list-item>
      <mat-list-item><button mat-icon-button aria-hidden="false" aria-label="Show help">
          <mat-icon>settings</mat-icon>
        </button></mat-list-item>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button aria-hidden="false" aria-label="Toggle sidebar" (click)="sidenav.toggle()"
          color="accent">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ title }}</span>
        <span class="spacer"></span>
        <button mat-icon-button aria-hidden="false" aria-label="Search on domain">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button aria-hidden="false" aria-label="Toogle fullscreen">
          <mat-icon>fullscreen</mat-icon>
        </button>
        <button mat-icon-button aria-hidden="false" aria-label="Messages">
          <mat-icon matBadge="8" matBadgeColor="accent">mail</mat-icon>
        </button>
        <button mat-icon-button aria-hidden="false" aria-label="Notifications">
          <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon>
        </button>
        <button mat-icon-button aria-hidden="false" aria-label="My account">
          <mat-icon>face</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <ng-content></ng-content>
    
  </mat-sidenav-content>

</mat-sidenav-container>