<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="[ postBasePath, id, 'view']">
    <mat-icon>visibility</mat-icon>
    <span>View</span>
  </button>
  <button mat-menu-item [routerLink]="[ postBasePath, id, 'edit']">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item (click)="onPostDelete()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>