<div class="year" *ngIf="year">

    <div class="month" *ngFor="let month of year.months">
     
        <div class="month-name" [routerLink]="nav.getRouterLink('month', month.date)">{{ month.name }}</div>
        <div class="day-names">
            <div class="day-name"></div>
            <div class="day-name" *ngFor="let name of dayNames">{{ name }}</div>
        </div>
     
        <div class="week" *ngFor="let week of month.weeks">
            <div class="week-number" 
                matTooltip="Semaine {{ week.number}}"
                [routerLink]="nav.getRouterLink('week', week.date)" 
            >{{ week.number }}</div>

            <div class="day" *ngFor="let day of week.days" 
                [ngClass]="{
                    'out': !df.isSameMonth(day.date, month.date),
                    'weekend': df.isWeekend(day.date),
                    'today': df.isToday(day.date) && df.isSameMonth(day.date, month.date),
                    'has-event': filteredEvents[this.df.format(day.date, 'yyyyMMdd')]
                }">
                <span matRipple [routerLink]="nav.getRouterLink('day', day.date)">{{ day.number }}</span>
            </div>
        </div>
    </div>

</div>