<!-- View  -->
<dialog title="{{ title }}" *ngIf="action == 'view'">
    <button contextual-actions mat-icon-button class="contextual-actions" (click)="edit()">
        <mat-icon>create</mat-icon>
    </button>
    <button contextual-actions mat-icon-button class="contextual-actions"
        (click)="delete()">
        <mat-icon>delete</mat-icon>
    </button>

    <app-event-view [event]="event"></app-event-view>
</dialog>

<!-- Add / Edit  -->
<dialog title="{{ title }}" [dialogActions]="dialogActions" *ngIf="action == 'edit' || action == 'add'">
    <button *ngIf="action == 'edit'" contextual-actions mat-icon-button class="contextual-actions" (click)="view()">
        <mat-icon>visibility</mat-icon>
    </button>
    <button *ngIf="action == 'edit'" contextual-actions mat-icon-button class="contextual-actions"
        (click)="delete()">
        <mat-icon>delete</mat-icon>
    </button>

    <app-event-form #form [event]="event"></app-event-form>

    <ng-template #dialogActions>
        <actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button mat-flat-button color="accent" [mat-dialog-close]="data" (click)="form.submit()"
                [disabled]="form.eventForm.invalid">{{ action == 'edit' ? "Update" : "Add"}}</button>
        </actions>
    </ng-template>
</dialog>