<layout-sidebar title="Post managment">

    <sidebar-menu>
        <menu-item route="/dashboard" icon="dashboard">Dashboard</menu-item>
        <menu-item route="/onboarding" icon="business">Tenants</menu-item>
        <menu-item route="/post" icon="apps">Posts</menu-item>

        <menu-item route="/dashboard" icon="dashboard">Dashboard</menu-item>
        <menu-item route="/onboarding" icon="business">Tenants</menu-item>
        <menu-item route="/post" icon="apps">Posts</menu-item>
        <menu-item route="/dashboard" icon="dashboard">Dashboard</menu-item>
        <menu-item route="/onboarding" icon="business">Tenants</menu-item>
        <menu-item route="/post" icon="apps">Posts</menu-item>
        <menu-item route="/dashboard" icon="dashboard">Dashboard</menu-item>
        <menu-item route="/onboarding" icon="business">Tenants</menu-item>
        <menu-item route="/post" icon="apps">Posts</menu-item>
        <menu-item route="/dashboard" icon="dashboard">Dashboard</menu-item>
        <menu-item route="/onboarding" icon="business">Tenants</menu-item>
        <menu-item route="/post" icon="apps">Posts</menu-item>
        <menu-item route="/dashboard" icon="dashboard">Dashboard</menu-item>
        <menu-item route="/onboarding" icon="business">Tenants</menu-item>
        <menu-item route="/post" icon="apps">Posts</menu-item>
        <menu-item route="/dashboard" icon="dashboard">Dashboard</menu-item>
        <menu-item route="/onboarding" icon="business">Tenants</menu-item>
        <menu-item route="/post" icon="apps">Posts</menu-item>
        <menu-item route="/dashboard" icon="dashboard">Dashboard</menu-item>
        <menu-item route="/onboarding" icon="business">Tenants</menu-item>
        <menu-item route="/post" icon="apps">Posts</menu-item>
    </sidebar-menu>

    <sidebar-tabs>
        <sidebar-tabs-pane id="help" route="/post" icon="help_outline" label="Help">
            <div style="margin: 16px">
                <p>Should not be displayed cause of route</p>
            </div>
        </sidebar-tabs-pane>
        <sidebar-tabs-pane id="settings" icon="settings" label="Settings">
            <div style="margin: 16px">
                <p>Tab content SETTINGS...</p>
                <p>Tab content SETTINGS...</p>
                <p>Tab content SETTINGS...</p>
                <p>Tab content SETTINGS...</p>
                <p>Tab content SETTINGS...</p>
                <p>Tab content SETTINGS...</p>
            </div>
        </sidebar-tabs-pane>
    </sidebar-tabs>

    <router-outlet></router-outlet>
</layout-sidebar>