<span class="number">{{ df.format(date, 'w') }}</span>
<div class="week">

    <div class="days">
        <ng-container *ngFor="let day of days">
            <calendar-month-day 
                *ngIf="weekend || !df.isWeekend(day)" 
                [date]="day"
                [out]="!df.isSameMonth(context, day)" 
                [ngStyle]="{width: weekend ? '14.28%' : '20%'}"
                [events]="showDayEvents ? filteredEvents : []"
                (onDayClick)="onDayClick.emit($event)"
                (onDayMousedown)="onDayMousedown.emit($event)"
                (onDayMouseenter)="onDayMouseenter.emit($event)"
                (onDayMouseup)="onDayMouseup.emit($event)"
            ></calendar-month-day>
        </ng-container>
    </div>

    <div class="events" [ngClass]="{'editing': isEditing}">
        <ng-container *ngFor="let row of eventsGridRows">
            <ng-container *ngFor="let gridEvent of row">
                <calendar-month-event 
                    [event]="gridEvent.event" 
                    [showStartTime]="!gridEvent.event.allday && df.isSameWeek(gridEvent.event.start, date)"
                    (onEventClick)="onEventClick.emit($event)" 
                    [ngStyle]="{top: gridEvent.top, left: gridEvent.left, width: gridEvent.width}"
                ></calendar-month-event>
            </ng-container>
        </ng-container>
    </div>
    
</div>