<mat-card *ngIf="post">

  <mat-card-header>
    <mat-card-title [routerLink]="[ postBasePath, id, 'view' ]" [ngClass]="{ 'text-danger': post.loveIts < 0 }">{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ post.updatedAt | date: 'EEEE d MMMM y' }}</mat-card-subtitle>
    <app-post-actions [id]="post.id.toString()"></app-post-actions>
  </mat-card-header>

  <mat-card-content>
    <p>{{ post.content }}</p>
  </mat-card-content>

  <app-post-vote [id]="post.id.toString()"></app-post-vote>

</mat-card>