<section *ngIf="nav" (mouseleave)="onCalendarMouseleave()">

    <header>
        <button mat-button [routerLink]="nav.today">Aujourd'hui</button>
        <button mat-icon-button aria-hidden="false" aria-label="Mois précédent" [routerLink]="nav.previous">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button aria-hidden="false" aria-label="Mois suivant" [routerLink]="nav.next">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        
        <ng-container *ngIf="nav.view == 'day'">
            <h3 class="title">
                {{ titleDay }}
                <span class="title-link" [routerLink]="nav.getRouterLink('month', date)">{{ titleMonth }} {{ titleYear }}</span>
            </h3>
            <mat-chip-list *ngIf="titleWeek"><mat-chip [routerLink]="nav.getRouterLink('week', date)">{{ titleWeek }}</mat-chip></mat-chip-list>
        </ng-container>

        <ng-container *ngIf="nav.view == 'week'">
            <h3 class="title title-link" [routerLink]="nav.getRouterLink('month', date)">{{ titleMonth }} {{ titleYear }}</h3>
            <mat-chip-list *ngIf="titleWeek"><mat-chip disableRipple>{{ titleWeek }}</mat-chip></mat-chip-list>
        </ng-container>
        
        <ng-container *ngIf="nav.view == 'month'">
            <h3 class="title">
                {{ titleMonth }}
                <span class="title-link" [routerLink]="nav.getRouterLink('year', date)">{{ titleYear }}</span>
            </h3>
        </ng-container>

        <ng-container *ngIf="nav.view == 'year'">
            <h3 class="title">{{ titleYear }}</h3>
        </ng-container>

        <span class="spacer"></span>
        <mat-form-field appearance="outline" class="view-select">
            <mat-select [value]="nav.view">
                <mat-option value="year" [routerLink]="nav.year">Année</mat-option>
                <mat-option value="month" [routerLink]="nav.month">Mois</mat-option>
                <mat-option value="week" [routerLink]="nav.week">Semaine</mat-option>
                <mat-option value="day" [routerLink]="nav.day">Jour</mat-option>
            </mat-select>
        </mat-form-field>          
        <mat-slide-toggle (change)="weekendChange($event)" [checked]="weekend">Weekend</mat-slide-toggle>
    </header>

    <main>
        <calendar-year 
            *ngIf="view == 'year'"
            class="calendar"
            [date]="date" 
            [events]="events"
            [nav]="nav"
        >
            <ng-content></ng-content>
        </calendar-year>

        <calendar-month 
            *ngIf="view == 'month'"
            class="calendar"
            [date]="date" 
            [events]="events"
            [nav]="nav"
            [editor]="editor"
            [weekend]="weekend"
            (onEventClick)="onEventClick.emit($event)" 
            (onEventEdit)="onEventEdit.emit($event)"
        >
            <ng-content></ng-content>
        </calendar-month>

        <calendar-week 
            *ngIf="view == 'week'"
            class="calendar"
            [events]="events" 
            [nav]="nav"
            [editor]="editor"
            [date]="date" 
            [context]="date" 
            [weekend]="weekend"
            [showDayNames]="true"
            [ngStyle]="{height: '100%'}"
        ></calendar-week>

    </main>

</section>