@import "_variables.scss";

$palette: $primary;

.day {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    border-right: solid rgba(255, 255, 255, 0.03) 1px;
    border-bottom: solid rgba(255, 255, 255, 0.03) 1px;
    width: 100%;
    height: 100%;
    &.out { background-color: rgba(0, 0, 0, 0.03); }
    &.weekend { background-color: rgba(0, 0, 0, 0.08); }
    &.weekend.out { background-color: rgba(0, 0, 0, 0.1); }

    .day-number {
        text-align: center;
        font-size: small;
        span {
            text-transform: capitalize;
        }
    }
    &.today .day-number {
        color: mat-color($accent);
    }
    .day-content {
        flex-grow: 1;
        overflow-y: auto;
        cursor: pointer;
        .day-event {
            padding: 4px;
            width: 100%;
            background-color: mat-color($palette, 500);
        }
    }
}
