<div class="day" 
    [ngClass]="{ 'out': out, 'weekend': df.isWeekend(date), 'today': df.isToday(date) }"
    (mouseenter)="editor.update(date)"
>
    <span class="day-number" [routerLink]="nav.getRouterLink('day', date)" >{{ df.format(date, 'd') }} <span *ngIf="df.isFirstDayOfMonth(date)">{{ df.format(date, 'MMM') }}</span></span>
    <div class="day-content"
        (mousedown)="editor.start(date)"
        (mouseup)="editor.stop(date)"
    >
        <div class="day-event" *ngFor="let event of filteredEvents">{{ event.label }}</div>
    </div>
</div>  