@import "_variables.scss";

$palette: $primary;

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .spacer {
        flex-grow: 1;
    }
    header {
        margin: 8px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        .month-title {
            margin: 0 8px;
            text-transform: capitalize;
        }
        mat-slide-toggle {
            margin-right: 16px;
        }
    }
    main {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        flex-grow: 1;
        overflow-y: auto;
        .days-name {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            text-transform: uppercase;
            font-size: smaller;
            margin-left: 16px;
            height: 20px;

            span {
                width: 100%;
                text-align: center;
            }
        }
        .weeks {
            flex-grow: 1;
            height: calc(100% - 20px);
            calendar-month-week {
                overflow: hidden;
            }
        }
    }
}
